.DS_Store
.git/
.github/
.gitignore
.gitmodules
.clang-*
.cmake-format

.vscode/

patches/
pkgconfig/
scripts/
test*/
build/
ci/
docs/
example*/

xpacks/
node_modules/

*.tgz

README-*
LICENSE-*
CONTRIBUTING**

.mailmap
.woodpecker.yml
Makefile
NEWS
VERSION
doc/
libucontext.pc.in
meson_options.txt
test_*
